  
  h1 {
    font-size: 1.5rem;
  }
    
  /* Sidebar */
  .sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFFFFF;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }

  
  /* Dashboard Logo */
  .DashLogo{
    padding: 2rem;

  }


  /* Menu List */
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .tabname{
    text-decoration: none;
  }
  
  /* Default Menu Items */
  /* .menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #676767;
    cursor: pointer;
  } */

  .menu-link{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 1.75rem;
    color: #676767;
  }
  
  /* Icons */
  .sidebarIcon{
    margin-right: 10px;
  }
  
  /* Active (Selected) Menu Item */
  /* .menu-item.active {
    background: #F3F3F1; 
    color: var(--blue-color);
    font-weight: bold;
  } */

  .active {
    background: #F3F3F1; 
    color: var(--blue-color);
    font-weight: bold;
  }
  
  /* Curved Effect for Adjacent Items */
  .menu-item.above-selected {
    border-bottom-right-radius: 20px;
    margin-bottom: -1px; /* Slight overlap */
  }
  
  .menu-item.below-selected {
    border-top-right-radius: 20px;
    margin-top: -1px; /* Slight overlap */
  }
  
  .read-button-inverted{
  color: var(--white-color) !important;
  background: var(--blue-color) !important;
}

.createDiv{
  margin: 16px auto;
}

  .SidebarDown{
    margin-top: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

.logoutDiv{
  width: 90%;
  display: flex;
  border: 1px solid #000000;
  align-items: center;
  padding: .5rem;
  gap: .5rem;
  border-radius: 2rem;
}

.signout{
  font-size: 12px;
}

.userDP{
  height: 2rem;
  font-weight: 2rem;
}