@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Plus+Jakarta+Sans:wght@200..800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Inter', sans-serif;
  --font-tertiary: 'Plus Jakarta Sans', sans-serif;
  font-family: var(--font-primary);

  --blue-color: #1877F2; /* Blue */
  --white-color: #FFFFFF;   /* White */
  --black-color: #000000;   /* Black */
}

.font-secondary {
  font-family: var(--font-secondary);
}



